<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% link pages/index.md %}">
      <img src="{% link assets/logo.svg %}" width="30" height="30" alt="">
      Mesa 3D
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for link in site.navbar_links %}
        {% if link.url %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% else %}
        {% assign full_page = site.pages | where: "path", link | first %}
        <li class="nav-item {% if page.url == full_page.url %} active{% endif %}">
          <a class="nav-link" href="{{ full_page.url }}">{{ full_page.title }}{% if page.url == full_page.url %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
