<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}

    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% seo %}
  </head>
  <body class="d-flex flex-column h-100">
    {% include navbar.html %}

    {{ content }}

    <footer class="footer mt-3 py-3 bg-light">
      <div class="container">
        <div class="row">

          <div class="col">
            <strong>Documentation</strong>
            <ul class="list-unstyled">
              <li><a class="text-muted" href="{{ site.docs_url }}/license.html">License</a></li>
              <li><a class="text-muted" href="{{ site.docs_url }}/faq.html">FAQ</a></li>
              <li><a class="text-muted" href="{% link pages/download.md %}">Getting Started</a></li>
            </ul>
          </div>

          <div class="col">
            <strong>Community</strong>
            <ul class="list-unstyled">
              <li><a class="text-muted" href="https://gitlab.freedesktop.org/mesa">GitLab</a></li>
              <li><a class="text-muted" href="{{ site.docs_url }}/lists.html">Mailing Lists</a></li>
              <li><a class="text-muted" href="{{ site.docs_url }}/bugs.html">Report a Bug</a></li>
            </ul>
          </div>

          <div class="col">
            <strong>More</strong>
            <ul class="list-unstyled">
              <li><a class="text-muted" href="{% link pages/webmaster.md %}">Webmaster</a></li>
              <li><a class="text-muted" href="{% link pages/thanks.md %}">Acknowledgements</a></li>
              <li><a class="text-muted" href="https://dri.freedesktop.org/wiki/">Mesa / DRI Wiki</a></li>
            </ul>
          </div>

          <div class="col">
            <ul class="list-unstyled">
              <li class="text-muted pb-2">Hosted by <a class="text-muted" href="https://www.freedesktop.org/">Freedesktop.org</a></li>
              <li><a class="text-muted" href="{{site.gitlab.repository_url}}/blob/master/{{page.path}}">Edit this page</a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
