---
layout: page
---

<div class="row">
<article class="col-md-8">

{{ content }}

<div class="text-muted">
{{ page.category | capitalize }}, {{ page.date | date: '%B %d, %Y' }}
</div>

<hr>

<div class="pt-1 row">
  <div class="col-md-6 text-md-left">
{% if page.previous.url %}
    <a href="{{page.previous.url}}" title="{{page.previous.title}}">Previous post</a>
{% endif %}
  </div>

  <div class="col-md-6 text-md-right">
{% if page.next.url %}
    <a href="{{page.next.url}}" title="{{page.next.title}}">Next post</a>
{% endif %}
  </div>
</div>

<p class="pt-2 text-md-center"><a href="{{ site.baseurl }}/news/">Back to news</a></p>

</article>

<aside class="d-none d-md-block col-md-4 border-left">
Related posts:
<ul>
{% for post in site.related_posts limit:5 %}
<li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</aside>

</div>
